.view-button,
.submit-button {
    padding: 10px 25px 10px 50px;
    color: #000 !important;
    border: 2px solid #000;
    border-radius: 25px;
    background: transparent;
    z-index: 2;
    position: relative;
    transition: .2s ease-out;
    overflow: hidden;
}

.view-button svg,
.submit-button svg {
    border-radius: 25px;
    background: var(--navy-blue);
    color: var(--smoke);
    position: absolute;
    transition: 0.4s ease-in-out;
    width: 25px;
    height: 25px;
    left: 20px;
}

.view-button:hover svg {
    width: 200px;
    left: 0;
}

.submit-button:hover svg {
    width: 180px;
    left: 0;
}

.view-button:hover,
.submit-button:hover {
    background: var(--navy-blue);
}