.Card {
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    padding: 20px;
    height: 200px;
    width: 320px;
}

.Card:hover {
    background: var(--navy-blue);
    color: var(--smoke);

    &.Card:hover img {
       background: var(--smoke);
       border-radius: 10px;
    }
}

.Card img {
    width: auto;
    height: 120px;
    aspect-ratio: 16 / 9;
}

.Card .cardBottom svg {
    transform: scale(2);
    margin: 6px;
}
