.CardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.Card {
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    padding: 20px;
    height: 250px;
    width: auto;
}

.Card img {
    width: auto;
    height: 150px;
    aspect-ratio: 16 / 9;
}

.Card .cardBottom svg {
    transform: scale(2);
    margin: 6px;
}
