@media (max-width: 500px) {
    .hover-me {
        position: static;
    }

    .flip-cards .flip-back p {
        top: 40px;
        font-size: 13px;
    }
    .about img {
        width: 310px;
    }
}

@media (max-width: 321px) {
    .flip-cards .flip-back p {
        top: 40px;
        font-size: 12px;
    }
    .about img {
        width: 280px;
    }
}